Package: syncthing
Version: 0.1
Section: admin
Maintainer: Carl J Smith <BM-NBHLt5EUFVEbRCmrbVrfCyaB2c8d24U9>
Installed-Size: 8400
Priority: optional
Architecture: all
Depends: python (>=2.7)
Description: Sync folders across multuple computers.
 Sync folders across multuple computers.
